ffmpeg-python==0.2.0
flake8==4.0.1
Flask==2.0.0
PyAudio==0.2.13
SpeechRecognition==3.8.1
stack-data==0.6.2
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tornado==6.2
traitlets==5.8.1
typing_extensions==4.1.1
uri-template==1.2.0
urllib3==1.26.4
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.0.0
whichcraft==0.6.1
widgetsnbextension==4.0.5
zope.event==4.5.0
zope.interface==5.4.0
